<div class="container mb-32 border-bottom-1">
  <h3 class="title">Simple Angular Custom Directives</h3>
  <div class="description">
    <p>
      In this example, we have created a custom directive named appCustomDirective. It changes the background color of the element it's applied to when the mouse enters or leaves it.
    </p>
  </div>
  <div class="example">
    <div class="flex items-center simple-directive" appCustomDirective="red">
      <p>Hover over me! Base custom directive! </p>
    </div>
  </div>
</div>

<div class="container mb-32 border-bottom-1">
  <h3 class="title">Custom Validation Directive</h3>
  <div class="description">
    <p>
      A custom validation directive in Angular allows you to create your own custom validation logic for form controls.
    </p>
  </div>
  <div class="example">
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      appPasswordValidator="[A-Za-z]+[0-9]+"
      required
    />

    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.hasError('required')">Password is required.</div>
      <div *ngIf="password.hasError('passwordPattern')">Password must contain letters and numbers.</div>
    </div>
  </div>
</div>

<div class="container mb-32 border-bottom-1">
  <h3 class="title">Autofocus Directive</h3>
  <div class="description">
    <p>
      A custom autofocus directive in Angular allows you to automatically focus an input field when a page loads.
    </p>
  </div>
  <div class="example">
    <input type="text" placeholder="Auto-focused input" appAutofocus />
  </div>
</div>


<router-outlet></router-outlet>
